/*shared style start*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}
.btn-primary{
    background-color: #ff900e;
    border: none;
    padding: 15px 20px;
    color: #fff;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}
/*shared style end*/

/*header section style start*/
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px 240px;
}
.nav-title{
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right:10px;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: #424242;
}
/*header section style end*/

/*banner section style start*/
.banner-content{
    max-width: 600px;
    margin:0 auto;
    text-align: center;
}
.banner-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    
}
.banner-section img{
    width: 100%;
}
/*banner section style end*/

/*header area responsive style start*/
@media screen and (max-width:576px){
    header{
        padding: 15px;
    }
    nav{
        flex-direction: column;

    }
    .btn-primary{
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    nav{
        flex-direction: column;
}
.btn-primary{
    margin-bottom: 10px;
}
.banner-description{
    text-align: justify;
}
}
@media screen and (min-width:768px) and (max-width:992px){
    .btn-primary{
        margin-bottom: 10px;
    }
    .banner-description{
        text-align: justify;
    }
    .banner-section img{
        width: 100%;
    }
}
/* header area responsive style end*/